#
# Basic requirements
#
elasticsearch>=8.3,<9
pandas>=1.3.5<=1.5.0
matplotlib>=3.5.0<=3.6.0
numpy<2
tqdm<5

#
# Extras
#
scikit-learn>=0.22.1,<2
xgboost>=0.90,<2
scikit-learn>=0.22.1,<2
lightgbm>=2,<4

# PyTorch doesn't support Python 3.10 yet (pytorch/pytorch#66424)

# Elasticsearch uses v1.11.0 of PyTorch
torch>=1.11.0,<1.12.0; python_version<'3.10'
# Versions known to be compatible with torch 1.11
sentence-transformers>=2.1.0,<=2.2.2; python_version<'3.10'
transformers[torch]>=4.12.0,<=4.20.1; python_version<'3.10'

#
# Testing
#
pytest>=5.2.1
pytest-mock
pytest-cov
nbval

#
# Docs
#
nox
numpydoc>=0.9.0
mypy