#
# Basic requirements
#
elasticsearch>=8.3,<9
pandas>=1.5,<2
matplotlib>=3.6
numpy>=1.2.0,<2
Click~=8.1.0
eql==0.9.19
jsl==0.2.4
jsonschema>=3.2.0
marko==2.0.1
marshmallow-dataclass[union]~=8.5.12
marshmallow-jsonschema~=0.12.0
marshmallow-union~=0.1.15
marshmallow~=3.13.0
pywin32 ; platform_system=='Windows'
pytoml==0.1.21
PyYAML~=5.3 ; python_version<='3.9'
PyYAML~=6.0.1 ; python_version>='3.10'
requests~=2.27
toml==0.10.0
typing-inspect==0.8.0
typing-extensions==4.5.0 ; python_version<='3.11'
typing-extensions==4.8.0 ; python_version>='3.12'
XlsxWriter~=1.3.6
semver==3.0.0-dev.4"