#
# Basic requirements
#
elasticsearch>=8.3,<9
pandas>=1.5,<2
matplotlib>=3.6
# Shap is incompatible with NumPy >= 1.24 (elastic/eland#539)
# Fix NumPy to a known good range of versions
numpy>=1.2.0,<1.24
tqdm<5

#
# Extras
#
scikit-learn>=1.3,<2
xgboost>=0.90,<2
lightgbm>=2,<4

# PyTorch doesn't support Python 3.11 yet (pytorch/pytorch#86566)

# Elasticsearch uses v1.13.1 of PyTorch
torch>=1.13.1,<2.0; python_version<'3.11'
# Versions known to be compatible with PyTorch 1.13.1
sentence-transformers>=2.1.0,<=2.2.2; python_version<'3.11'
transformers[torch]>=4.12.0,<=4.27.4; python_version<'3.11'

#
# Testing
#
pytest>=5.2.1
pytest-mock
pytest-cov
nbval
shap==0.41.0

#
# Docs
#
nox
numpydoc>=0.9.0
mypy
build
twine