elasticsearch>=8.0.0a1,<9
pandas>=1.2.0
matplotlib
pytest>=5.2.1
pytest-mock
nbval
numpydoc>=0.9.0
scikit-learn>=0.22.1
xgboost>=1
nox
lightgbm
pytest-cov
mypy
huggingface-hub>=0.0.17

# Torch doesn't support Python 3.10 yet (pytorch/pytorch#66424)
sentence-transformers>=2.1.0; python_version<'3.10'
torch>=1.9.0; python_version<'3.10'
transformers[torch]>=4.12.0; python_version<'3.10'
