elasticsearch>=7.7
pandas>=1.2.0
matplotlib
nbval
scikit-learn>=0.22.1
xgboost>=1
lightgbm
nbsphinx
git+https://github.com/pandas-dev/pydata-sphinx-theme.git

# traitlets has been having all sorts of release problems lately.
traitlets<5.1
