elasticsearch>=7.7
pandas==1.5.0
matplotlib
nbval
scikit-learn>=0.22.1
xgboost>=1
lightgbm
sphinx==5.3.0
nbsphinx
git+https://github.com/pandas-dev/pydata-sphinx-theme.git

# traitlets has been having all sorts of release problems lately.
traitlets<5.1
